<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nensy.memgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RulesActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".moz1_1" />
        <activity android:name=".moz2_1" />
        <activity android:name=".moz3_1" />
        <activity android:name=".vih1_1" />
        <activity android:name=".vih2_1" />
        <activity android:name=".vih3_1" />
        <activity android:name=".por1_1" />
        <activity android:name=".por2_1" />
        <activity android:name=".por3_1" />
        <activity android:name=".col1_1" />
        <activity android:name=".Rulse1" />
        <activity android:name=".rules_moz" />
        <activity android:name=".rules_por" />
        <activity android:name=".rules_vih" />
        <activity android:name=".rules_col" />
        <activity android:name=".rulse_num" />
        <activity android:name=".rules_wor" />
        <activity android:name=".col2_1" />
        <activity android:name=".col3_1" />
        <activity android:name=".wor1_1" />
        <activity android:name=".wor2_1" />
        <activity android:name=".wor3_1"></activity>
    </application>

</manifest>